body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 200px;
    color: lightskyblue;
}

section {
    min-height: 100vh;
}