* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #333;
    color: #f4f4f4;
}

section {
    height: 100vh;
    padding: 2rem;
}